{:paths
 ["src" "resources"]

 :deps
 {com.databricks/databricks-jdbc {:mvn/version "2.6.38"}}


 ;; the stuff below is only for hacking on the driver locally and is not needed if you follow the instructions in the
 ;; README and create a `:local/root` dep for the driver and launch the REPL from the Metabase project rather than
 ;; from here
 :aliases
 {:dev
  {:extra-deps
   {com.github.metabase/metabase {:git/tag "v0.50.3", :git/sha "def3903f275276e339f2ed99bb37fd2f85652b62f8f3be50cb0e708f1eeaffbc"}}}}}
