{:paths
 ["src" "resources"]

 :deps
 {com.databricks/databricks-jdbc {:mvn/version "2.6.38"}}


 ;; the stuff below is only for hacking on the driver locally and is not needed if you follow the instructions in the
 ;; README and create a `:local/root` dep for the driver and launch the REPL from the Metabase project rather than
 ;; from here
 :aliases
 {:dev
  {:extra-deps
   {com.github.metabase/metabase {:git/tag "v0.49.14", :git/sha "77a08d7710d79f82c52c1d1e3cd3d4edc10bd8406d93eec9988d12158334ecc3"}}}}}
