{:paths
 ["src" "resources"]

 :deps
 {com.databricks/databricks-jdbc {:mvn/version "2.6.27"}}

 ;; build the driver with clojure -X:build
 :aliases
 {:build
  {:extra-deps {metabase/metabase-core {:local/root "../metabase"}
                metabase/build-drivers {:local/root "../metabase/bin/build-drivers"}}
   :exec-fn    build-drivers.build-driver/build-driver!
   :exec-args  {:driver      :databricks-sql
                :project-dir "."
                :target-dir  "./target"}}}}
